@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.popup-modal {
  background: white;
  border: 1px solid black;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

main {
  background-color: #f5f5f9;
}

body {
  font-family: 'Roboto', 'Inter', 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
  margin: 0; 
  padding: 0;
}